@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url(d:\web_license_jdh22\portfolio\profilesite\kakao\css\reset.css);
@-webkit-keyframes clittering {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@keyframes clittering {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@-webkit-keyframes deposit {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes deposit {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes scaleUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

#wrap {
  font-family: 'Noto Sans KR', sans-serif;
}

@media screen and (max-width: 768px) {
  #wrap {
    width: 100%;
    margin: 0;
  }
}

#wrap > header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #dcdcdc;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  #wrap > header {
    border: none;
    background-color: #ffef6b;
  }
}

#wrap > header #wrap-header {
  position: relative;
  width: 1080px;
  height: 80px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #wrap > header #wrap-header {
    width: 100%;
  }
}

#wrap > header #wrap-header > h1.logo {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  width: 116px;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  #wrap > header #wrap-header > h1.logo {
    position: absolute;
    left: 20px;
    z-index: 1000;
  }
}

#wrap > header #wrap-header > h1.logo > a {
  display: block;
  width: 100%;
  height: 20px;
}

#wrap > header #wrap-header .gnb_btn {
  display: none;
}

@media screen and (max-width: 768px) {
  #wrap > header #wrap-header .gnb_btn {
    display: block;
    position: absolute;
    right: 30px;
    top: 20px;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
  }
  #wrap > header #wrap-header .gnb_btn span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #000;
    margin-top: 8px;
  }
}

#wrap > header #wrap-header .mob {
  display: none;
}

@media screen and (max-width: 768px) {
  #wrap > header #wrap-header .mob {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 900;
    padding: 0 20px;
    overflow: scroll;
    z-index: 1000;
    font-size: 14px;
  }
}

#wrap > header #wrap-header .mob > .nav-header {
  position: relative;
}

@media screen and (max-width: 768px) {
  #wrap > header #wrap-header .mob > .nav-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 24px;
    background: rgba(255, 255, 255, 0);
    text-align: right;
    overflow: hidden;
    height: 60px;
    line-height: 60px;
    z-index: 1;
    background: white;
  }
}

#wrap > header #wrap-header .mob > .nav-header > .logo {
  display: none;
}

@media screen and (max-width: 768px) {
  #wrap > header #wrap-header .mob > .nav-header > .logo {
    display: block;
    position: absolute;
    top: 29px;
    left: 20px;
    z-index: 1000;
  }
}

#wrap > header #wrap-header .mob > .nav-header > .logo > img {
  display: block;
  width: 116;
  height: 20;
}

#wrap > header #wrap-header .mob > .nav-header > .clse {
  display: none;
}

@media screen and (max-width: 768px) {
  #wrap > header #wrap-header .mob > .nav-header > .clse {
    position: absolute;
    right: 24px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
  }
  #wrap > header #wrap-header .mob > .nav-header > .clse > img {
    display: block;
    width: 25px;
  }
}

#wrap > header #wrap-header .mob > .gnb_mob {
  display: none;
  margin-top: 70px;
}

@media screen and (max-width: 768px) {
  #wrap > header #wrap-header .mob > .gnb_mob {
    display: block;
  }
}

#wrap > header #wrap-header .mob > .gnb_mob > li {
  position: relative;
  width: 95%;
  height: 70px;
  line-height: 70px;
  font-size: 17px;
  border-bottom: 1px solid #dcdcdc;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#wrap > header #wrap-header .mob > .gnb_mob > li:hover {
  background-color: #f8e57bc3;
}

#wrap > header #wrap-header .mob > .gnb_mob > li.list-group {
  height: auto;
  display: block;
}

#wrap > header #wrap-header .mob > .gnb_mob > li.list-group > .list-item {
  line-height: 70px;
  position: relative;
}

#wrap > header #wrap-header .mob > .gnb_mob > li.list-group > .list-item > a {
  font-size: 17px;
  height: 100%;
  display: inline-block;
  width: 100%;
}

#wrap > header #wrap-header .mob > .gnb_mob > li.list-group > .list-item button {
  background: none;
  border: 0;
  outline: 0;
  display: block;
  text-indent: -9999px;
  position: absolute;
  display: block;
  width: 40px;
  height: 20px;
  background-image: url(./../images/img_kabang_171010.png);
  background-position: 120px 0;
  right: 0;
  top: 30px;
  cursor: pointer;
}

#wrap > header #wrap-header .mob > .gnb_mob > li.list-group > .list-item button.on {
  background-position: 120px -20px;
}

#wrap > header #wrap-header .mob > .gnb_mob > li.list-group > .list-contents {
  display: none;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

#wrap > header #wrap-header .mob > .gnb_mob > li.list-group > .list-contents > .list-content {
  background: #f7f7f7;
  padding: 24px 24px 0 24px;
}

#wrap > header #wrap-header .mob > .gnb_mob > li.list-group > .list-contents > .list-content > .sub-title {
  font-size: 12px;
  color: #aaa;
  font-style: normal;
  font-weight: normal;
}

#wrap > header #wrap-header .mob > .gnb_mob > li.list-group > .list-contents > .list-content > .sub-list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 24px;
  font-size: 15px;
}

#wrap > header #wrap-header .mob > .gnb_mob > li.list-group > .list-contents > .list-content > .sub-list > li {
  height: auto;
  margin-top: 24px;
}

#wrap > header #wrap-header .mob > .gnb_mob > li.list-group > .list-contents > .list-content > .sub-list > li:hover > a {
  text-decoration: underline;
}

#wrap > header #wrap-header .mob > .gnb_mob > li.list-group > .list-contents > .list-content > .sub-list > li > a {
  font-size: 15px;
}

#wrap > header #wrap-header > nav {
  position: absolute;
  width: 1080px;
  height: 80px;
  top: 0;
  right: 10px;
}

@media screen and (max-width: 768px) {
  #wrap > header #wrap-header > nav {
    display: none;
    position: absolute;
    left: 0;
    top: 80px;
    width: 768px;
    background-color: #fff;
    border-top: 1px solid #dcdcdc;
  }
}

#wrap > header #wrap-header > nav > .nav-items {
  width: 1080px;
  height: 100%;
  display: block;
  font-size: 0;
  text-align: right;
  margin: 15px auto;
}

@media screen and (max-width: 768px) {
  #wrap > header #wrap-header > nav > .nav-items {
    position: absolute;
    width: 100%;
    left: -80px;
    top: 0;
    font-size: 8px;
  }
}

#wrap > header #wrap-header > nav > .nav-items > li.nav-item {
  height: 40px;
  line-height: 40px;
  min-width: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0 10px;
  text-align: center;
  -webkit-transition: border-color .5s;
  transition: border-color .5s;
  padding: 0 10px;
}

@media screen and (max-width: 768px) {
  #wrap > header #wrap-header > nav > .nav-items > li.nav-item {
    font-size: 6px;
    width: 10%;
    padding: 0;
    margin: 0;
    margin-right: 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #wrap > header #wrap-header > nav > .nav-items > li.nav-item.nav-item-btn {
    width: 16%;
    padding: 0;
    margin: 0;
  }
}

#wrap > header #wrap-header > nav > .nav-items > li.nav-item.nav-item-btn {
  margin-top: -20px;
  padding: 0 20px;
  background: #fede22;
  border: 1px solid #fede22;
  display: inline-block;
  line-height: 40px;
  font-size: 14px;
  border-radius: 22px;
  vertical-align: middle;
}

#wrap > header #wrap-header > nav > .nav-items > li.nav-item:nth-of-type(1) > .nav-title .bar {
  width: 60px;
}

#wrap > header #wrap-header > nav > .nav-items > li.nav-item:nth-of-type(2) > .nav-title .bar {
  width: 75px;
}

#wrap > header #wrap-header > nav > .nav-items > li.nav-item:nth-of-type(3) > .nav-title .bar {
  width: 60px;
}

#wrap > header #wrap-header > nav > .nav-items > li.nav-item:nth-of-type(4) > .nav-title .bar {
  width: 60px;
}

#wrap > header #wrap-header > nav > .nav-items > li.nav-item > .nav-title {
  position: relative;
  display: block;
  height: 60x;
  line-height: 60px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

#wrap > header #wrap-header > nav > .nav-items > li.nav-item > .nav-title > .bar {
  display: none;
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  background-color: #000;
}

#wrap > header #wrap-header > nav > .nav-items > li.nav-item > .nav-subs {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 81px;
  padding: 50px 0 40px;
  background-color: #fff;
  z-index: 200;
}

#wrap > header #wrap-header > nav > .nav-items > li.nav-item > .nav-subs > .nav-sub {
  display: table;
  width: 1080px;
  margin: auto;
}

#wrap > header #wrap-header > nav > .nav-items > li.nav-item > .nav-subs > .nav-sub > .nav-sub-item {
  display: table-cell;
  text-align: center;
  width: 20%;
  background-color: #fff;
}

#wrap > header #wrap-header > nav > .nav-items > li.nav-item > .nav-subs > .nav-sub > .nav-sub-item > .nav-sub-title {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
  border-radius: 20px;
}

#wrap > header #wrap-header > nav > .nav-items > li.nav-item > .nav-subs > .nav-sub > .nav-sub-item > .nav-sub-title:hover {
  background-color: #f8e57bc3;
}

#wrap > header #wrap-header > nav > .nav-items > li.nav-item > .nav-subs > .nav-sub > .nav-sub-item > .nav-sub-title > a {
  display: block;
  font-size: 15px;
  color: #444;
}

#wrap > header #wrap-header > nav > .nav-items > li.nav-item > .nav-subs > .nav-sub > .nav-sub-item > .nav-links > li.nav-link {
  font-size: 13px;
  -webkit-transition: all .1s;
  transition: all .1s;
  line-height: 3;
  border-radius: 20px;
}

#wrap > header #wrap-header > nav > .nav-items > li.nav-item > .nav-subs > .nav-sub > .nav-sub-item > .nav-links > li.nav-link:hover {
  background-color: #f8e57bc3;
}

#wrap > header #wrap-header > nav > .nav-items > li.nav-item > .nav-subs > .nav-sub > .nav-sub-item > .nav-links > li.nav-link > a {
  display: block;
  font-size: 15px;
  color: #444;
}

@media screen and (max-width: 768px) {
  #wrap > header #wrap-header > nav > .nav-items > li.nav-item > .nav-subs {
    opacity: 0;
  }
}

#wrap section > .module-contents {
  width: 100%;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents {
    width: 100%;
    height: 100%;
  }
}

#wrap section > .module-contents > .intro-main {
  position: relative;
  width: 100%;
  height: 884px;
  margin: 0;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro-main {
    background-color: #ffef6b;
    height: 550px;
  }
}

#wrap section > .module-contents > .intro-main > .intro-main-content {
  position: relative;
  max-width: 1200px;
  height: 884px;
  background-image: url(./../images/main-bg3.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  margin: auto;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro-main > .intro-main-content {
    width: 100%;
    background-position: -50% 50%;
  }
}

#wrap section > .module-contents > .intro-main > .intro-main-content > .tit_main {
  position: absolute;
  top: 175px;
  left: 90px;
  font-weight: bold;
  font-size: 49px;
  line-height: 1.4;
  color: black;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro-main > .intro-main-content > .tit_main {
    font-size: 30px;
    margin-top: -50px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    text-align: center;
  }
}

#wrap section > .module-contents > .intro-main > .intro-main-content > .tit-sub {
  position: absolute;
  top: 330px;
  left: 92px;
  font-size: 16px;
  line-height: 1.95;
  color: black;
  opacity: .7;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro-main > .intro-main-content > .tit-sub {
    margin-top: -100px;
    font-size: 13px;
    left: 50%;
    margin-left: -120px;
    text-align: center;
  }
}

#wrap section > .module-contents > .intro-main > .intro-main-content > .brand_camp_link {
  position: absolute;
  top: 410px;
  left: 92px;
  font-size: 16px;
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro-main > .intro-main-content > .brand_camp_link {
    margin-top: -120px;
    left: 50%;
    margin-left: -50px;
    font-size: 13px;
  }
}

#wrap section > .module-contents > .intro-main > .intro-main-content > .line-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 490px;
  margin-left: 85px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro-main > .intro-main-content > .line-store {
    margin-top: -110px;
    left: 50%;
    margin-left: -170px;
  }
}

#wrap section > .module-contents > .intro-main > .intro-main-content > .line-store > li {
  width: 178px;
  height: 60px;
  padding: 0 6px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro-main > .intro-main-content > .line-store > li {
    margin-top: -50px;
  }
}

#wrap section > .module-contents > .intro-main > .intro-main-content > .line-store > li > .link_store {
  display: block;
  width: 178px;
  height: 56px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  font-size: 16.2px;
  font-weight: bold;
  line-height: 56px;
  color: #333;
  background-color: #fff;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#wrap section > .module-contents > .intro-main > .intro-main-content > .line-store > li > .link_store:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro-main > .intro-main-content > .line-store > li > .link_store {
    width: 150px;
    height: 50px;
    font-size: 12px;
    line-height: 50px;
    background-color: #fff;
  }
}

#wrap section > .module-contents > .intro-main > .intro-main-content > .line-store > li > .link_store > .img_kabang {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: -2px 10px 0 0;
  background-image: url(./../images/img_kabang_210628.png);
  background-repeat: no-repeat;
  background-position: -341px -292px;
  vertical-align: middle;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro-main > .intro-main-content > .line-store > li > .link_store > .img_kabang {
    margin: -5px 10px 0 0;
  }
}

#wrap section > .module-contents > .intro-main > .intro-main-content > .line-store > li > .link_store > .ico_app {
  width: 24px;
  height: 24px;
  margin-top: -4px;
  background-position: -371px -292px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro-main > .intro-main-content > .line-store > li > .link_store > .ico_app {
    margin: -5px 10px 0 0;
  }
}

#wrap section > .module-contents > .intro-main > .background-line {
  width: 100%;
  height: 720px;
  background-color: #ffef6b;
  position: absolute;
  top: 0;
}

#wrap section > .module-contents > .intro_cont {
  position: relative;
  background-color: #fff;
  color: #111;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont {
    width: 100%;
  }
}

#wrap section > .module-contents > .intro_cont.cont_withdrawal {
  height: 750px;
}

#wrap section > .module-contents > .intro_cont.cont_withdrawal > .cont_img {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 473px;
  margin: 0 0 0 -400px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_withdrawal > .cont_img {
    top: 40%;
    left: 50%;
    margin-left: 25px;
  }
}

#wrap section > .module-contents > .intro_cont.cont_withdrawal > .cont_img > img {
  position: absolute;
  left: 50%;
  width: 473px;
  margin: 0 0 0 -400px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_withdrawal > .cont_img > img {
    width: 272px;
  }
}

#wrap section > .module-contents > .intro_cont.cont_withdrawal > .cont_txt {
  position: absolute;
  top: 220px;
  left: 50%;
  margin-left: 90px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_withdrawal > .cont_txt {
    top: 80px;
    left: 50%;
    margin-left: -140px;
    text-align: center;
    z-index: 100;
  }
}

#wrap section > .module-contents > .intro_cont.cont_withdrawal > .cont_txt h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.35;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_withdrawal > .cont_txt h3 {
    font-size: 20px;
  }
}

#wrap section > .module-contents > .intro_cont.cont_withdrawal > .cont_txt p {
  margin-top: 24px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #666;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_withdrawal > .cont_txt p {
    font-size: 12px;
  }
}

#wrap section > .module-contents > .intro_cont.cont_withdrawal > .cont_btn {
  position: absolute;
  top: 438px;
  left: 50%;
  margin-left: 120px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_withdrawal > .cont_btn {
    left: 50%;
    margin-left: -130px;
    top: 220px;
    z-index: 100;
  }
}

#wrap section > .module-contents > .intro_cont.cont_withdrawal > .cont_btn > .link_bank {
  display: block;
  background-color: #f6f6f6;
  width: 258px;
  height: 56px;
  font-size: 16px;
  line-height: 56px;
  color: #333;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_withdrawal > .cont_btn > .link_bank {
    font-size: 13px;
  }
}

#wrap section > .module-contents > .intro_cont.cont_withdrawal > .cont_btn > .link_bank:hover {
  background-color: #f8e57bc3;
}

#wrap section > .module-contents > .intro_cont.cont_withdrawal > .cont_btn > .link_bank > .ico-arr {
  display: inline-block;
  width: 6px;
  height: 9px;
  margin: 5.5px 0 0 8px;
  vertical-align: text-top;
}

#wrap section > .module-contents > .intro_cont_divider {
  width: 100%;
  height: 32px;
  background-color: #fafafa;
}

#wrap section > .module-contents > .intro_cont.cont_deposit_savings {
  height: 740px;
}

#wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_txt {
  position: absolute;
  top: 172px;
  left: 50%;
  margin-left: -470px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_txt {
    text-align: center;
    left: 50%;
    margin-left: -235px;
    margin-top: -100px;
    width: 100%;
  }
}

#wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_txt > h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.35;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_txt > h3 {
    font-size: 20px;
  }
}

#wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_txt > p {
  margin-top: 24px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #666;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_txt > p {
    width: 345px;
    font-size: 13px;
    padding: 0 5px;
    position: absolute;
    left: 50%;
    margin-left: -185px;
  }
}

#wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_txt span {
  display: block;
  width: 440px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_txt span {
    position: absolute;
    left: 50%;
    margin-left: -170px;
    top: 120px;
  }
}

#wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_txt span img {
  display: block;
  width: 440px;
  height: 104px;
  margin: 142px 0 0 -8px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_txt span img {
    width: 340px;
    height: 94px;
  }
}

#wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_btn {
  position: absolute;
  top: 385px;
  left: 50%;
  margin-left: -470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_btn {
    width: 310px;
    position: absolute;
    top: 250px;
    left: 50%;
    margin-left: -155px;
  }
  #wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_btn > a {
    font-size: 13px;
  }
  #wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_btn:after {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 210px;
    background-image: url(./../images/deposit_2.jpg);
    background-repeat: no-repeat;
    width: 200px;
    height: 280px;
    content: '';
  }
}

#wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_btn > .link_deposit {
  width: 100%;
  height: 56px;
  margin-right: 6px;
  border-radius: 10px;
  background-color: #f6f6f6;
  font-size: 15px;
  line-height: 56px;
  color: #000;
  text-align: center;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_btn > .link_deposit {
    width: 150px;
    height: 50px;
    font-size: 13px;
  }
}

#wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_btn > .link_deposit:hover {
  background-color: #f8e57bc3;
}

#wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_btn > .link_deposit > img {
  display: inline-block;
  width: 6px;
  height: 9px;
  margin: 5.5px 0 0 8px;
  vertical-align: text-top;
}

#wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_img {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 409px;
  height: 722px;
  margin-left: 120px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_img {
    display: none;
  }
}

#wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_img > img {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 409px;
  height: 722px;
  margin-left: 120px;
  -webkit-animation: deposit .8s forwards;
          animation: deposit .8s forwards;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_deposit_savings > .cont_img > img {
    width: 250px;
    height: 560px;
    margin: 120px 0 0 -8px;
  }
}

#wrap section > .module-contents > .intro_cont_divider {
  width: 100%;
  height: 32px;
  background-color: #fafafa;
}

#wrap section > .module-contents > .cont_moim {
  overflow: hidden;
  height: 750px;
}

#wrap section > .module-contents > .cont_moim > .cont_img > img {
  position: absolute;
  top: 85px;
  right: 50%;
  width: 459px;
  height: 607px;
  margin-right: 24px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_moim > .cont_img > img {
    width: 359px;
    height: 507px;
    position: absolute;
    left: 50%;
    margin-left: -180px;
    top: 260px;
  }
}

#wrap section > .module-contents > .cont_moim > .cont_txt {
  position: absolute;
  top: 215px;
  left: 50%;
  margin-left: 90px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_moim > .cont_txt {
    text-align: center;
    left: 50%;
    margin-left: -240px;
    top: 60px;
    width: 100%;
  }
}

#wrap section > .module-contents > .cont_moim > .cont_txt > h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.35;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_moim > .cont_txt > h3 {
    font-size: 20px;
  }
}

#wrap section > .module-contents > .cont_moim > .cont_txt > p {
  margin-top: 24px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #666;
}

#wrap section > .module-contents > .cont_moim > .cont_btn {
  position: absolute;
  top: 455px;
  left: 50%;
  margin-left: 90px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_moim > .cont_btn {
    margin-top: -230px;
    left: 50%;
    margin-left: -129px;
  }
}

#wrap section > .module-contents > .cont_moim > .cont_btn > .link_bank {
  display: block;
  background-color: #f6f6f6;
  width: 258px;
  height: 56px;
  font-size: 16px;
  line-height: 56px;
  color: #333;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_moim > .cont_btn > .link_bank {
    font-size: 13px;
  }
}

#wrap section > .module-contents > .cont_moim > .cont_btn > .link_bank:hover {
  background-color: #f8e57bc3;
}

#wrap section > .module-contents > .cont_moim > .cont_btn > .link_bank > .ico_arr {
  display: inline-block;
  width: 6px;
  height: 9px;
  margin: 5.5px 0 0 8px;
  vertical-align: text-top;
}

#wrap section > .module-contents > .intro_cont_divider {
  width: 100%;
  height: 32px;
  background-color: #fafafa;
}

#wrap section > .module-contents > .cont_26week {
  height: 650px;
}

#wrap section > .module-contents > .cont_26week .cont_txt {
  position: absolute;
  top: 177px;
  left: 50%;
  margin-left: -410px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_26week .cont_txt {
    text-align: center;
    left: 50%;
    margin-left: -240px;
    top: 60px;
    width: 100%;
  }
}

#wrap section > .module-contents > .cont_26week .cont_txt > h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.35;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_26week .cont_txt > h3 {
    font-size: 20px;
  }
}

#wrap section > .module-contents > .cont_26week .cont_txt p {
  margin-top: 24px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #666;
}

#wrap section > .module-contents > .cont_26week .cont_btn {
  position: absolute;
  top: 395px;
  left: 50%;
  margin-left: -410px;
  border-color: #c2c2c2;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_26week .cont_btn {
    margin-top: -180px;
    left: 50%;
    margin-left: -129px;
  }
}

#wrap section > .module-contents > .cont_26week .cont_btn > .link_bank {
  display: block;
  background-color: #f6f6f6;
  width: 258px;
  height: 56px;
  font-size: 16px;
  line-height: 56px;
  color: #333;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_26week .cont_btn > .link_bank {
    font-size: 13px;
  }
}

#wrap section > .module-contents > .cont_26week .cont_btn > .link_bank:hover {
  background-color: #f8e57bc3;
}

#wrap section > .module-contents > .cont_26week .cont_btn > .link_bank > .ico_arr {
  display: inline-block;
  width: 6px;
  height: 9px;
  margin: 5.5px 0 0 8px;
  vertical-align: text-top;
}

#wrap section > .module-contents > .cont_26week > .cont_img > img {
  position: absolute;
  top: 130px;
  left: 50%;
  margin-left: 40px;
  width: 492px;
  height: 408px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_26week > .cont_img > img {
    position: absolute;
    left: 50%;
    margin-left: -151px;
    top: 320px;
    width: 302px;
    height: 228px;
  }
}

#wrap section > .module-contents > .intro_cont_divider {
  width: 100%;
  height: 32px;
  background-color: #fafafa;
}

#wrap section > .module-contents > .cont_foreign_remmittance {
  height: 800px;
  background-color: #fff;
  background-image: url(./../images/home_map.png);
  background-repeat: no-repeat;
  background-position: -12% 50%;
}

#wrap section > .module-contents > .cont_foreign_remmittance > .cont_img > img {
  position: absolute;
  top: 300px;
  right: 55%;
  width: 408px;
  height: 715px;
  margin: 0 -40px 0 -155px;
  -webkit-animation: deposit .6s forwards;
          animation: deposit .6s forwards;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_foreign_remmittance > .cont_img > img {
    display: none;
  }
}

#wrap section > .module-contents > .cont_foreign_remmittance > .cont_txt {
  position: absolute;
  top: 196px;
  left: 50%;
  margin-left: 90px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_foreign_remmittance > .cont_txt {
    text-align: center;
    left: 50%;
    margin-left: -235px;
    top: 60px;
    width: 100%;
  }
  #wrap section > .module-contents > .cont_foreign_remmittance > .cont_txt:before {
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -110px;
    width: 200px;
    height: 410px;
    background-image: url(./../images/foreign.jpg);
    content: '';
  }
}

#wrap section > .module-contents > .cont_foreign_remmittance > .cont_txt h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.35;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_foreign_remmittance > .cont_txt h3 {
    font-size: 20px;
  }
}

#wrap section > .module-contents > .cont_foreign_remmittance > .cont_txt p {
  margin-top: 24px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #666;
}

#wrap section > .module-contents > .cont_foreign_remmittance > .cont_btn {
  position: absolute;
  top: 492px;
  left: 50%;
  margin-left: 90px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_foreign_remmittance > .cont_btn {
    margin-top: -220px;
    left: 50%;
    margin-left: -129px;
  }
}

#wrap section > .module-contents > .cont_foreign_remmittance > .cont_btn > .link_bank {
  display: block;
  background-color: #f6f6f6;
  width: 258px;
  height: 56px;
  font-size: 16px;
  line-height: 56px;
  color: #333;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_foreign_remmittance > .cont_btn > .link_bank {
    font-size: 13px;
  }
}

#wrap section > .module-contents > .cont_foreign_remmittance > .cont_btn > .link_bank:hover {
  background-color: #f8e57bc3;
}

#wrap section > .module-contents > .cont_foreign_remmittance > .cont_btn > .link_bank > .ico_arr {
  display: inline-block;
  width: 6px;
  height: 9px;
  margin: 5.5px 0 0 8px;
  vertical-align: text-top;
}

#wrap section > .module-contents > .cont_loan {
  overflow: hidden;
  height: 930px;
}

#wrap section > .module-contents > .cont_loan > .sky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333b58;
}

#wrap section > .module-contents > .cont_loan > .sky > .blue {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #559cde;
  -webkit-transition: height .85s;
  transition: height .85s;
}

#wrap section > .module-contents > .cont_loan > .cont_img > img {
  position: absolute;
  width: 429px;
  height: 563px;
  bottom: 0;
  left: 50%;
  margin-left: -215px;
}

#wrap section > .module-contents > .cont_loan > .cont_txt {
  position: relative;
  z-index: 100;
  text-align: center;
  padding-top: 160px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_loan > .cont_txt {
    position: absolute;
    text-align: center;
    left: 50%;
    margin-left: -130px;
    top: -80px;
    width: 260px;
  }
}

#wrap section > .module-contents > .cont_loan > .cont_txt h3 {
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.35;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_loan > .cont_txt h3 {
    font-size: 20px;
  }
}

#wrap section > .module-contents > .cont_loan > .cont_txt p {
  color: #fff;
  font-weight: 200;
  opacity: 60%;
  margin-top: 24px;
  font-size: 15px;
  line-height: 1.7;
  text-shadow: 1px 1px 3px d;
}

#wrap section > .module-contents > .cont_loan > .cont_btn {
  position: absolute;
  top: 288px;
  left: 50%;
  width: 688px;
  margin-left: -344px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_loan > .cont_btn {
    width: 344px;
    top: 240px;
    margin-left: -172px;
  }
}

#wrap section > .module-contents > .cont_loan > .cont_btn > .link_loan {
  float: left;
  width: 166px;
  height: 52px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.09);
  margin-left: 6px;
  font-size: 16px;
  line-height: 51px;
  color: #fff;
  text-align: center;
  -webkit-transition: all .4s;
  transition: all .4s;
  margin-top: 20px;
}

#wrap section > .module-contents > .cont_loan > .cont_btn > .link_loan:hover {
  background-color: #fff;
  color: #000;
}

#wrap section > .module-contents > .cont_loan > .cont_btn > .link_loan > .ico_arr {
  display: inline-block;
  width: 6px;
  height: 9px;
  margin: 5.5px 0 0 8px;
  vertical-align: text-top;
}

#wrap section > .module-contents > .cont_loan > .moon {
  overflow: hidden;
  position: absolute;
  top: 200px;
  left: 50%;
  width: 112px;
  height: 112px;
  margin-left: 450px;
  border-radius: 56px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_loan > .moon {
    position: absolute;
    top: 30px;
    left: 120px;
  }
}

#wrap section > .module-contents > .cont_loan > .moon > .moon_original {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 110px;
  height: 110px;
  border-radius: 55px;
  background-color: #ffdc00;
}

#wrap section > .module-contents > .cont_loan > .moon > .moon_show {
  position: absolute;
  left: -200px;
  top: -200px;
  width: 100%;
  height: 100%;
  border-radius: 55px;
  background-color: #333b58;
  -webkit-transition-property: background-color, top, left;
  transition-property: background-color, top, left;
  -webkit-transition-duration: .85s;
          transition-duration: .85s;
}

#wrap section > .module-contents > .cont_loan > .ico_star {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  z-index: 1000;
}

#wrap section > .module-contents > .cont_loan > .ico_star.ico_star1 {
  position: absolute;
  top: 30%;
  left: 10%;
  -webkit-animation: clittering 2s infinite;
          animation: clittering 2s infinite;
}

#wrap section > .module-contents > .cont_loan > .ico_star.ico_star2 {
  position: absolute;
  top: 10%;
  left: 20%;
  -webkit-animation: clittering 3s infinite;
          animation: clittering 3s infinite;
}

#wrap section > .module-contents > .cont_loan > .ico_star.ico_star3 {
  position: absolute;
  top: 25%;
  left: 15%;
  -webkit-animation: clittering 5s infinite;
          animation: clittering 5s infinite;
}

#wrap section > .module-contents > .cont_loan > .ico_star.ico_star4 {
  position: absolute;
  top: 40%;
  right: 15%;
  -webkit-animation: clittering 2s infinite;
          animation: clittering 2s infinite;
}

#wrap section > .module-contents > .cont_loan > .ico_star.ico_star5 {
  position: absolute;
  top: 43%;
  right: 30%;
  -webkit-animation: clittering 4s infinite;
          animation: clittering 4s infinite;
}

#wrap section > .module-contents > .cont_loan > .ico_star.ico_star6 {
  position: absolute;
  top: 73%;
  right: 27%;
  -webkit-animation: clittering 1.8s infinite;
          animation: clittering 1.8s infinite;
}

#wrap section > .module-contents > .cont_loan > .ico_star.ico_star8 {
  position: absolute;
  top: 65%;
  left: 22%;
  -webkit-animation: clittering 3.5s infinite;
          animation: clittering 3.5s infinite;
}

#wrap section > .module-contents > .intro_cont.cont_checkcard {
  height: 1024px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_checkcard {
    width: 100%;
    height: 600px;
  }
}

#wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_btn {
  position: absolute;
  top: 337px;
  left: 50%;
  margin-left: -129px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_btn {
    top: 230px;
  }
}

#wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_btn > .link_bank {
  display: block;
  background-color: #f6f6f6;
  width: 258px;
  height: 56px;
  font-size: 16px;
  line-height: 56px;
  color: #333;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_btn > .link_bank {
    font-size: 13px;
  }
}

#wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_btn > .link_bank:hover {
  background-color: #f8e57bc3;
}

#wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_btn > .link_bank > img {
  display: inline-block;
  width: 6px;
  height: 9px;
  margin: 5.5px 0 0 8px;
  vertical-align: text-top;
}

#wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_img {
  position: absolute;
  width: 800px;
  top: 469px;
  left: 50%;
  margin-left: -480px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_img {
    display: none;
  }
}

#wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_img #slides {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

#wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_img #slides > .screen {
  overflow: hidden;
  position: relative;
  width: 620px;
  height: 460px;
  margin: 0 auto;
}

#wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_img #slides > .screen > .slides-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  left: -240px;
  top: 0;
  width: calc(240px * 5);
  padding-top: 40px;
}

#wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_img #slides > .screen > .slides-container > li {
  width: 240px;
}

#wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_img #slides > .screen > .slides-container > li.on {
  margin-left: -50px;
  -webkit-animation: scaleUp .2s forwards;
          animation: scaleUp .2s forwards;
}

#wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_img #slides > .screen > .slides-container > li.on + li {
  margin-left: -50px;
}

#wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_img #slides > .screen > .slides-container > li > a {
  display: block;
}

#wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_img #slides > .screen > .slides-container > li > a > img {
  display: block;
  width: 100%;
}

#wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_img #slides > a {
  display: block;
  position: absolute;
  top: 50%;
  width: 38px;
  height: 72px;
  margin-top: -36px;
  text-indent: -9999px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_img #slides > a {
    display: none;
  }
}

#wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_img #slides > .prev {
  left: 0;
  background-image: url(../images/prev.png);
}

#wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_img #slides > .next {
  right: 0;
  background-image: url(../images/next.png);
}

#wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_txt {
  text-align: center;
  padding-top: 150px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_txt {
    padding-top: 80px;
  }
  #wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_txt:after {
    position: absolute;
    width: 460px;
    height: 360px;
    height: 150px;
    left: 50%;
    margin-left: -180px;
    top: 50%;
    margin-top: 50px;
    background-image: url(./../images/checkcard_mobile.jpg);
    background-repeat: no-repeat;
    content: '';
  }
}

#wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_txt > h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.35;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_txt > h3 {
    font-size: 20px;
  }
}

#wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_txt > p {
  margin-top: 24px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #666;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .intro_cont.cont_checkcard > .cont_txt > p {
    margin: 20px auto;
    width: 300px;
    font-size: 13px;
  }
}

#wrap section > .module-contents > .cont_end {
  background-color: #f9f9f9;
  padding-bottom: 230px;
}

#wrap section > .module-contents > .cont_end > .cont_txt {
  text-align: center;
  padding-top: 160px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_end > .cont_txt {
    padding-top: 60px;
  }
}

#wrap section > .module-contents > .cont_end > .cont_txt > h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.35;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_end > .cont_txt > h3 {
    font-size: 20px;
  }
}

#wrap section > .module-contents > .cont_end > .cont_bar {
  display: block;
  width: 100px;
  height: 2px;
  background-color: #000;
  margin: 50px auto 140px;
}

#wrap section > .module-contents > .cont_end > .cont_bar_bg {
  position: absolute;
  top: 583px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eee;
}

#wrap section > .module-contents > .cont_end > .cont_img {
  position: relative;
  z-index: 10;
  text-align: center;
}

#wrap section > .module-contents > .cont_end > .cont_img > img {
  width: 1020px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_end > .cont_img > img {
    display: none;
  }
}

#wrap section > .module-contents > .cont_end > .cont_img > ul {
  overflow: hidden;
  width: 1020px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_end > .cont_img > ul {
    width: 100%;
    margin-top: -50px;
    overflow: initial;
  }
}

#wrap section > .module-contents > .cont_end > .cont_img > ul li {
  float: left;
  width: 25%;
  height: 210px;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_end > .cont_img > ul li {
    float: initial;
    margin: 0 auto;
  }
  #wrap section > .module-contents > .cont_end > .cont_img > ul li:nth-of-type(1) {
    margin-top: 50px;
  }
  #wrap section > .module-contents > .cont_end > .cont_img > ul li:nth-of-type(2) {
    margin-top: 50px;
  }
  #wrap section > .module-contents > .cont_end > .cont_img > ul li:nth-of-type(4) {
    margin-top: 50px;
  }
  #wrap section > .module-contents > .cont_end > .cont_img > ul li:nth-of-type(3) {
    display: none;
  }
}

#wrap section > .module-contents > .cont_end > .cont_img > ul li > span {
  display: none;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_end > .cont_img > ul li > span {
    display: block;
  }
}

#wrap section > .module-contents > .cont_end > .cont_img > ul li > span > img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 10px;
}

#wrap section > .module-contents > .cont_end > .cont_img > ul li > strong {
  display: block;
  margin: 45px 0 17px;
  font-size: 18px;
  color: #000;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_end > .cont_img > ul li > strong {
    margin-top: 10px;
    font-size: 14px;
    width: 200px;
    margin-left: -40px;
  }
}

#wrap section > .module-contents > .cont_end > .cont_img > ul li > p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #666;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  #wrap section > .module-contents > .cont_end > .cont_img > ul li > p {
    width: 200px;
    font-size: 12px;
    margin-left: -40px;
  }
}

#wrap .to_top {
  display: none;
  position: fixed;
  right: 10%;
  bottom: 10%;
  width: 40px;
  z-index: 1000;
}

#wrap .to_top:hover a {
  background-color: #14254f;
  color: #fede22;
}

#wrap .to_top a {
  display: block;
  height: 40px;
  background-color: #fede22;
  color: #14254f;
  text-align: center;
  font-size: 10px;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#wrap .to_top a span {
  display: block;
  font-size: 8px;
}

#wrap footer {
  position: relative;
  background-color: #eee;
  min-width: 1120px;
  height: 140px;
  text-align: center;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  #wrap footer {
    min-width: initial;
    width: 100%;
  }
}

#wrap footer > .inner_foot {
  position: relative;
  width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  #wrap footer > .inner_foot {
    width: 100%;
  }
}

#wrap footer > .inner_foot > .info_copyright {
  margin-top: 20px;
  color: #4b4949;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  #wrap footer > .inner_foot > .info_copyright {
    line-height: 2.0;
    text-align-last: left;
  }
}

#wrap footer > .inner_foot > .footer_info {
  overflow: hidden;
  padding: 37px 0 12px;
}

@media screen and (max-width: 768px) {
  #wrap footer > .inner_foot > .footer_info {
    width: 100%;
  }
}

#wrap footer > .inner_foot > .footer_info > .link_service {
  float: left;
  color: #666;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  #wrap footer > .inner_foot > .footer_info > .link_service {
    font-size: 10px;
  }
  #wrap footer > .inner_foot > .footer_info > .link_service:nth-of-type(3) {
    display: none;
  }
  #wrap footer > .inner_foot > .footer_info > .link_service:nth-of-type(5) {
    display: none;
  }
  #wrap footer > .inner_foot > .footer_info > .link_service:nth-of-type(6) {
    display: none;
  }
  #wrap footer > .inner_foot > .footer_info > .link_service:nth-of-type(7) {
    display: none;
  }
  #wrap footer > .inner_foot > .footer_info > .link_service:nth-of-type(8) {
    display: none;
  }
  #wrap footer > .inner_foot > .footer_info > .link_service:nth-of-type(9) {
    display: none;
  }
}

#wrap footer > .inner_foot > .footer_info > .link_service.link_bold {
  color: #000;
  font-weight: bold;
}

#wrap footer > .inner_foot > .footer_info > .txt_bar {
  float: left;
  width: 1px;
  height: 10px;
  margin: 3px 15px 0;
  background-color: #d8d8d8;
}

@media screen and (max-width: 768px) {
  #wrap footer > .inner_foot > .footer_info > .txt_bar {
    font-size: 10px;
  }
  #wrap footer > .inner_foot > .footer_info > .txt_bar:nth-of-type(3) {
    display: none;
  }
  #wrap footer > .inner_foot > .footer_info > .txt_bar:nth-of-type(5) {
    display: none;
  }
  #wrap footer > .inner_foot > .footer_info > .txt_bar:nth-of-type(6) {
    display: none;
  }
  #wrap footer > .inner_foot > .footer_info > .txt_bar:nth-of-type(7) {
    display: none;
  }
  #wrap footer > .inner_foot > .footer_info > .txt_bar:nth-of-type(8) {
    display: none;
  }
  #wrap footer > .inner_foot > .footer_info > .txt_bar:nth-of-type(9) {
    display: none;
  }
}

#wrap footer > .inner_foot > .footer_bottom {
  text-align: left;
}

@media screen and (max-width: 768px) {
  #wrap footer > .inner_foot > .footer_bottom {
    display: none;
  }
}

#wrap footer > .inner_foot > .footer_bottom a {
  display: inline-block;
}

#wrap footer > .inner_foot > .footer_bottom a img {
  display: inline-block;
  width: 48px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: middle;
}

#wrap footer > .inner_foot > .footer_bottom a span:hover {
  text-decoration: underline;
}

#wrap footer > .inner_foot > .footer_bottom .list_channel {
  overflow: hidden;
  position: absolute;
  top: 90px;
  right: 55px;
  padding-top: inherit;
}

#wrap footer > .inner_foot > .footer_bottom .list_channel > li {
  float: left;
}

#wrap footer > .inner_foot > .footer_bottom .list_channel > li > .link_channel {
  display: block;
  overflow: hidden;
  height: 20px;
  width: 30px;
}

#wrap footer > .inner_foot > .footer_bottom .list_channel > li > .link_channel > .img_kabang {
  display: block;
  height: 20px;
  margin: 0 auto;
  background-image: url(./../images/img_kabang_210628.png);
  text-indent: -9999px;
}

#wrap footer > .inner_foot > .footer_bottom .list_channel > li > .link_channel > .img_kabang.ico_facebook {
  width: 10px;
  background-position: -120px -360px;
}

#wrap footer > .inner_foot > .footer_bottom .list_channel > li > .link_channel > .img_kabang.ico_blog {
  width: 12px;
  background-position: -140px -360px;
}

#wrap footer > .inner_foot > .footer_bottom .list_channel > li > .link_channel > .img_kabang.ico_naver {
  width: 14px;
  background-position: -389px -360px;
}

#wrap footer > .inner_foot > .footer_bottom .list_channel > li > .link_channel > .img_kabang.ico_youtube {
  width: 23px;
  margin-top: 2px;
  background-position: -160px -360px;
}

#wrap footer > .pcver {
  display: none;
}

@media screen and (max-width: 768px) {
  #wrap footer > .pcver {
    position: absolute;
    border-radius: 5px;
    border: 2px solid #ccc;
    padding: 1px 5px;
    color: #636262;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 32px;
    margin-left: 40px;
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */